// fonts
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200;600&display=swap");

// colors
$sun-color: #fb8500;
$sky-color: #219ebc;
$beach-color: #ffb703;
$ocean-color: #023047;
$foam-color: #8ecae6;

$global-font: "Dosis", sans-serif;

// provided file

$fonts-headline: "arial narrow", Arial, Verdana, sans-serif;
$fonts-body: verdana, arial, sans-serif;
$background-color: #daede2;
$primary: #77c4d3;
$accent1: #ea2e49;
$accent2: rgba(246, 247, 146, 0.9);
$grey-sidebar: rgba(51, 55, 69, 0.9);
$text-dark: #333;
$text-light: #fff;
